.Rproj.user
.Rhistory
.RData
.Ruserdata

*.Rmd
*.docx
*.xlsx
*.tex
*.pptx

*_live.R

**/graphical_model/*
**/rmod/*
**/figures/*
**/greater_goods/*
**/appendix/*
**_cache
**_files
zz */
2020-03 TeaP Workshop (Jena)/participants/participants-email.txt

**/temporary/**
