.Rproj.user
.Rhistory
.RData
.Ruserdata

*.Rmd
*.docx
*.xlsx
*.tex
*.pptx

*_live.R

**/graphical_model/*
**/rmod/*
**/figures/*
**/greater_goods/*
**/appendix/*
**_cache
**_files
zz */
2020-03 TeaP Workshop (Jena)/participants/participants-email.txt

**/temporary/**

Edgar MPT*/
2020-02 MPI Workshop*/Literature*
2020-06 SMiP workshop (Mannheim)/participants_Foundations2_MPTModeling25.-26.06.20.pdf
2020-06 SMiP workshop (Mannheim)/06 Modeling continuous data using mixture models/gpt_fit.RData

2021-06 SMiP workshop (Mannheim)/participants/

2022-03 TeaP workshop (Cologne)/Email
